.btn-primary {
  display: inline-block;
  padding: 0.9rem 0.7rem;
  border-radius: 6px;
  min-width: 150px;
  min-height: 45px;
  overflow: hidden;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  font-size: 0.8rem;
  outline: none;
}

.btn-uppercase {
  text-transform: uppercase !important;
  letter-spacing: 0.2em;
}

.btn-red {
  background-color: var(--primary-red);
  border: 3px solid var(--primary-red);
}

.btn-red:hover,
.btn-red:focus-visible {
  background-color: inherit;
  color: var(--primary-red);
}

.btn-blue {
  background-color: var(--primary-blue);
  border: 3px solid var(--primary-blue);
}

.btn-blue:hover,
.btn-blue:focus-visible {
  background-color: inherit;
  color: var(--primary-blue);
}

.btn-gray {
  background-color: var(--gray-100);
  color: var(--gray-400);
  border: 3px solid var(--gray-100);
}

.btn-gray:hover,
.btn-gray:focus-visible {
  background-color: inherit;
  border: 3px solid var(--gray-400);
}

.btn-dropdown {
  margin-left: auto;
  width: 1rem;
}

.header .btn-primary {
  display: none;
}

.btn-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}

@media (min-width: 768px) {
  .header > .btn-dropdown {
    width: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .btn-primary {
    padding: 0.9rem 1.4rem;
    min-width: 180px;
    min-height: 55px;
    font-size: 18px;
  }

  .header > .btn-dropdown {
    display: none;
  }

  .header .btn-primary {
    display: inline-block;
  }

  .btn-container {
    justify-content: flex-start;
  }
}
