.btn-primary {
  display: inline-block;
  width: 150px;
  height: 45px;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.5s ease 0s;
  border: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2em;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn-uppercase {
  text-transform: uppercase !important;
}

.btn-red {
  background-color: var(--primary-red);
}

.btn-blue {
  background-color: var(--primary-blue);
}

.btn-dropdown {
  margin-left: auto;
  width: 1rem;
}

.header .btn-primary {
  display: none;
}

@media (min-width: 768px) {
  .header > .btn-dropdown {
    width: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .btn-primary {
    width: 180px;
    height: 55px;
  }

  .header > .btn-dropdown {
    display: none;
  }

  .header .btn-primary {
    display: inline-block;
  }
}
