.section-features {
  margin: 0 auto;
}

.subtitle.features-subtitle {
  margin-bottom: 3rem;
}

.features-nav {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--gray-150);
  margin: 0 2rem 4rem 2rem;
}

.features-nav button {
  width: 100%;
  height: 60px;
  text-align: center;
  border-top: 1px solid var(--gray-150);
  position: relative;
}

.features-nav button:not(.active) {
  color: var(--gray-300);
}

.features-nav button:not(.active):hover {
  color: var(--primary-red);
}

.features-nav button.active::after {
  content: '';
  width: 50%;
  height: 4px;
  background-color: var(--primary-red);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 5%;
  height: max-content;
}

.feature .img-wrapper {
  margin-bottom: 20%;
}

.info.feature-info {
  max-width: 500px;
  height: max-content;
}

.feature-info > button {
  margin: 0 auto;
}

.feature .bg-blue {
  bottom: -15%;
  right: 10%;
  height: 200px;
}

@media (min-width: 400px) {
  .feature .bg-blue {
    height: 80%;
  }
}

@media (min-width: 768px) {
  .features-nav {
    margin: 0 auto 5rem auto;
    width: max-content;
    flex-direction: row;
  }

  .features-nav button {
    width: 250px;
    height: 80px;
    border: none;
  }

  .features-nav button.active::after {
    width: 100%;
  }

  .feature {
    flex-direction: row;
  }

  .title.feature-title,
  .subtitle.feature-subtitle {
    text-align: left;
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 1280px) {
  .feature .img-wrapper {
    margin-left: 10%;
    margin-bottom: 0;
  }

  .features-nav button {
    font-size: 20px;
    height: 100px;
  }

  .feature .bg-blue {
    right: 20%;
    bottom: -60px;
  }
}
