.hero-wrapper {
  overflow: hidden;
}

.section-hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-hero .bg-blue {
  bottom: -5%;
  left: 15%;
}

.info.hero-info {
  margin: 2rem auto;
  max-width: 600px;
}

.title.hero-title,
.subtitle.hero-subtitle {
  margin: 0 2rem 1rem 2rem;
}

@media (min-width: 768px) {
  .section-hero {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 0 2rem;
  }

  .img-hero-wrapper {
    width: 650px;
    height: auto;
  }

  .title.hero-title,
  .subtitle.hero-subtitle {
    text-align: left;
    margin: 0 0 2rem 0;
  }
}

@media (min-width: 1280px) {
  .section-hero {
    justify-content: space-between;
  }

  .info.hero-info {
    margin-top: 2rem;
  }

  .title.hero-title {
    font-size: 48px;
  }

  .section-hero .bg-blue {
    left: 30%;
  }
}

@media (min-width: 1440px) {
  .section-hero {
    padding: 0;
  }

  .section-hero .bg-blue {
    bottom: -10%;
  }
}
