@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  --primary-blue: hsl(231, 69%, 60%);
  --primary-red: hsl(0, 94%, 66%);
  --gray-100: hsl(240, 0%, 97%);
  --gray-150: hsl(240, 0%, 85%);
  --gray-200: hsl(229, 8%, 60%);
  --gray-300: hsl(240, 3%, 45%);
  --gray-400: hsl(240, 3%, 33%);
  --secondary-blue: hsl(229, 31%, 21%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

article,
footer,
header,
nav,
section {
  display: block;
}

a,
abbr,
area,
article,
aside,
audio,
b,
bdo,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
command,
datalist,
dd,
del,
details,
dialog,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
head,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
keygen,
kbd,
label,
legend,
li,
map,
mark,
menu,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
rp,
rt,
ruby,
samp,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}
